* {
	background-color: #EAEAEA;
	text-align: center;
}

.data {
	background-color: lightblue;
	height: 200px;
	width: 90%;
	margin: 0 auto;
	border: 0px solid black;
	font-size: 30px;
}

.code {
	background-color: #7a7a7a;
	color: gray;
}

.code-intro {
	text-align: center;
	font-size: 20px;
}
